@import "bootstrap";



//generic styles
$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;

.button {
  display:block;
  height:45px;
  width:177px;
  border-radius:100px;
  -webkit-border-radius:100px;
  line-height:45px;
  text-transform: uppercase;
  font-size:13px;
  text-align: center;
  font-weight:400;
  background-color: #3d4144;
  color:#fff;
  font-family:$montserrat;
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
  &:hover {
    color:#fff;
    text-decoration: none;
    background-color: #191a1b;
  }
  &.button-white {
    background-color: #fff;
    color:#3d4144;
    &:hover {
      color:#000;
      text-decoration: none;
    }
  }
}

.date {
  font-family:$montserrat;
  text-transform: uppercase;
  color: #3d4144;
  position:absolute;
  z-index:2;
  top:30px;
  right:30px;
  width:115px;
  height:115px;
  border-radius:58px;
  -webkit-border-radius:58px;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.1);
  box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.1);
  .inside {
    display:inline-block;
    span {
      display:inline-block;
      font-size:40px;
      line-height:115px;
      &:nth-child(2){
        width:30px;
        height:30px;
        font-size:13px;
        line-height:18px;
      }
    }
  }
}

h3 {
  text-transform: uppercase;
  font-family:$montserrat;
  color:#aaafb3;
  font-size:13px;
  line-height:1.08;
}

h2 {
  font-weight:300;
  font-size:50px;
  line-height:1;
  color:#3d4144;
  text-align: left;
}


//start styles
html {
  font-size:17px;
}
body {
  font-size:1rem;
  font-family:$lato;
  line-height:1.2rem;
  text-align:justify;
  font-weight:400;
}

header {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:4;
  padding:50px 0 29px 0;
  text-align: center;
  height:140px;
  .container {
    position:relative;
    .logo {
      display:inline-block;
      a {
        display:inline-block;
        width:121px;
        height:61px;
        background:url(../images/pl-icon-logo-white.svg) no-repeat center center;
        background-size:cover;
        transition:opacity 0.3s;
        -webkit-transition:opacity 0.3s;
        &:hover {
          opacity:0.7;
        }
      }
    }
    .search {
      position:absolute;
      right:0;
      top:0;
      padding:11px;
      width:47px;
      height:47px;
      background:url(../images/pl-icon-search.svg) no-repeat center center;
      background-size:25px 25px;
      float: right;
      cursor:pointer;
      transition:opacity 0.3s;
      -webkit-transition:opacity 0.3s;
      &:hover {
        opacity:0.7;
      }
    }
  }
}

.details-hero {
  background-color:#ccc;
  background-size:cover;
  background-position: center center;
  height:600px;
  color:#fff;
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }
  .container {
    position:relative;
    z-index:2;
    .featured-img {
      float: left;
      height:0;
      padding-bottom:131.5%;
      background-color:#fff;
      margin-top:140px;
      -webkit-box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.05);
      -moz-box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.05);
      box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.05);
      a {
        position:relative;
        display:block;
        &:after {
          content:"";
          display:block;
          position:absolute;
          top:10px;
          right:10px;
          left:10px;
          bottom:10px;
          border:1px solid #fff;
          opacity:0;
          transition:opacity 0.3s;
          -webkit-transition:opacity 0.3s;
        }
        &:hover:after {
          opacity:1;
        }
        figure {
          img {
            min-width:100%;
            max-width:100%;
            min-height:100%;
          }
        }
      }
    }
    .featured-details {
      float: left;
      margin:416px 0 0 20px;
      .price {
        font-size:40px;
        font-weight:300;
        line-height:1;
        margin-bottom:10px;
      }
      h1 {
        font-size:70px;
        font-weight:300;
        line-height:1;
        margin:0 0 10px 0;
      }
      .location {
        font-size:14px;
        line-height:1;
        color:#ccc;
        font-family:$montserrat;
      }
    }
    .button {
      float: right;
      margin-top:515px;
      -webkit-box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.1);
      -moz-box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.1);
      box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.1);
    }
    .row {
      .social {
        margin-top:36px;
        float: right;
        text-align: right;
        font-family:$montserrat;
        color:#bcc3c8;
        text-transform: uppercase;
        span {
          float: left;
          display:inline-block;
          margin-right:10px;
          line-height:26px;
          height:26px;
          font-size:14px;
        }
        .social {
          float: left;
          display:inline-block;
          margin:-2px 0 0 20px;
          height:26px;
          transition:opacity 0.3s;
          -webkit-transition:opacity 0.3s;
          &:hover {
            opacity:0.7;
          }
          &.fb {
            width:14px;
            background:url(../images/pl-icon-facebook.svg) no-repeat center center;
            background-size:100% auto;
          }
          &.pint {
            width:20px;
            background:url(../images/pl-icon-pinterest.svg) no-repeat center center;
            background-size:100% auto;
          }
          &.tw {
            width:27.2px;
            background:url(../images/twitter-logo-silhouette.svg) no-repeat center center;
            background-size:100% auto;
          }
        }
      }
    }
  }
}

.description {
  margin-top:22px;
  .container {
    .row {
      h3 {
        margin:27px 0 30px 0;
      }
      p {
        color:#3d4144;
        line-height:25px;
      }
    }
  }
}

.sessions {
  margin:50px 0 40px 0;
  .container {
    .row {
      .session {
        background-color: #3d4144;
        padding:40px;
        margin-bottom:10px;
        h3 {
          color:#999999;
          margin:0 0 30px 0;
        }
        .inside {
          p {
            line-height:1.47;
            color:#fff;
            margin:0;
          }
        }
      }
    }
  }
}

.classes {
  .container {
    .row {
      padding-bottom:30px;
      margin-bottom:50px;
      position:relative;
      &:before {
        content:"";
        display:block;
        position:absolute;
        left:10px;
        right:10px;
        bottom:0;
        height:1px;
        background-color: #e7ebed;
      }
      h3 {
        color:#aaafb3;
        margin:0 0 30px 0;
      }
      .inside {
        margin-bottom:20px;
        p {
          line-height:1.47;
          color:#3d4144;
          margin:0;
          text-align: left;
        }
      }
    }
  }
}

.location {
  margin-bottom:50px;
  text-align: left;
  .container {
    .row {
      h2 {
        margin:0 0 10px 0;
        text-align: left;
      }
      h3 {
        color:#3d4144;
        margin:0 0 50px 0;
      }
      .button {
        float: right;
        width:222px;
        margin-top:29px;
      }
      iframe {
        width:100%;
        height:300px;
      }
    }
  }
}

.cancelation {
  .container {
    .row {
      margin-bottom:50px;
      padding-bottom:50px;
      position:relative;
      &:before {
        content:"";
        display:block;
        position:absolute;
        left:10px;
        right:10px;
        bottom:0;
        height:1px;
        background-color: #e7ebed;
      }
      h3 {
        color:#aaafb3;
        margin:0 0 33px 0;
      }
      p {
        font-size:15px;
        line-height:1.33;
        color: #aaafb3;
      }
      ul {
        margin:35px 0 0 0;
        padding-left: 17px;
        font-size:15px;
        line-height:1.33;
        color: #aaafb3;
        li {
          margin:3px 0;
        }
      }
    }
  }
}

.other-events {
  margin-bottom:50px;
  text-align: left;
  .container {
    .row {
      > div {
        margin-bottom:20px;
      }
      h2 {
        margin:0 0 10px 0;
        text-align: left;
      }
      h3 {
        color:#3d4144;
        margin:0 0 50px 0;
      }
      a {
        display:block;
        position:relative;
        &:after {
          content:"";
          display:block;
          position:absolute;
          top:10px;
          right:10px;
          left:10px;
          bottom:10px;
          border:1px solid #fff;
          opacity:0;
          transition:opacity 0.3s;
          -webkit-transition:opacity 0.3s;
        }
        &:before {
          content:"";
          display:block;
          position:absolute;
          bottom:0;
          left:0;
          width:100%;
          height:40%;
          background-image: linear-gradient(to bottom, rgba(60, 65, 68, 0), #3d4144);
        }
        &:hover:after {
          opacity:1;
        }
        figure {
          img {
            max-width:100%;
          }
        }
      }
    }
  }
}




/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .details-hero {
    height:480px;
    .container {
      .featured-details {
        .price {
          font-size:32px;
        }
        h1 {
          font-size:48px;
        }
        margin-top:220px;
      }
      .button {
        float: left;
        margin:-140px 0 0 20px;
      }
    }
  }
  .date {
    top:15px;
    right:15px;
    width:80px;
    height:80px;
    border-radius:40px;
    -webkit-border-radius:40px;
    .inside {
      span {
        line-height: 80px;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .details-hero {
    height:400px;
    .container {
      .featured-details {
        .price {
          font-size:24px;
        }
        h1 {
          font-size:42px;
        }
        margin-top:160px;
      }
      .button {
        float: left;
        margin:-120px 0 0 20px;
      }
    }
  }
  .classes {
    .container {
      .row {
        h3 {
          margin-bottom:10px;
        }
        .inside {
          margin-bottom:30px;
        }
      }
    }
  }
  .date {
    top:15px;
    right:15px;
    width:80px;
    height:80px;
    border-radius:40px;
    -webkit-border-radius:40px;
    .inside {
      span {
        font-size:32px;
        line-height:80px;
        &:nth-child(2){
          height:30px;
          line-height:13px;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  h2 {
    font-size:32px;
  }
  .details-hero {
    height:auto;
    text-align: center;
    .container {
      .featured-img {
        float:none;
        margin:150px auto 0 auto;
        .date {
          top:-15px;
          right:-15px;
        }
      }
      .featured-details {
        margin-top:20px;
        float:none;
        text-align: center;
        .location {
          margin-bottom:10px;
          text-align: center;
        }
      }
      .button {
        float: none;
        margin:20px auto 0 auto;
      }
      .row {
        .social {
          float:none;
          margin:40px auto;
          display:inline-block;
        }
      }
    }
  }
  .location {
    .container {
      .row {
        h3 {
          margin-bottom:20px;
        }
        .button {
          float:left;
          margin:0 0 50px 0;
        }
      }
    }
  }
  .date {
    top:10px;
    right:10px;
    width:60px;
    height:60px;
    border-radius:30px;
    -webkit-border-radius:30px;
    .inside {
      span {
        font-size:24px;
        line-height:20px;
        width:100%;
        margin-top:6px;
        &:nth-child(2){
          width:55px;
          font-size:13px;
          line-height:12px;
          margin-top:0;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .details-hero {
    .container {
      .row {
        .social {
          text-align: center;
          span {
            display:block;
            float:none;
            margin:0;
          }
          .social {
            float: none;
            margin:0 10px;
          }
          float:none;
          margin:40px auto;
          display:inline-block;
        }
      }
    }
  }
  .date {
    top:5px;
    right:5px;
  }
}